:root {
    --size: 100px;
    --ball-color: #ff8800;
    --bg-color: #001111;
}

body {
    background-color: #011212;
}

.ball {
    width: var(--size);
    height: var(--size);
    background-color: var(--ball-color);
    border-radius: 50px;
}
